@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--foreground: theme('colors.invert_light.DEFAULT');
	--background: theme('colors.body_light');
	@media (prefers-color-scheme: dark) {
		--foreground: theme('colors.invert_dark.DEFAULT');
		--background: theme('colors.body_dark');
	}
}

* {
	box-sizing: border-box;
}

body {
	color: var(--foreground);
	background: var(--background);
}

.toast {
	padding: 10px !important;
	background-color: theme('colors.body_light') !important;
	color: currentColor !important;
	border-radius: 0 !important;

	.dark & {
		background-color: theme('colors.body_dark') !important;
	}
}

@layer utilities {
	.text-balance {
		text-wrap: balance;
	}
	h1 {
		@apply text-3xl font-bold;
	}
	h2 {
		@apply text-xl font-bold;
	}

	body {
		@apply flex flex-col min-h-screen;
	}
	main {
		@apply grow;
	}
	@mixin input {
		@apply border-0 border-b-2 focus:ring-0 focus-visible:ring-primary bg-transparent focus:border-primary placeholder:text-neutral-400 dark:placeholder:text-neutral-400;
	}

	input {
		&[type='text'],
		&[type='password'],
		&[type='email'],
		&[type='search'] {
			@include input();
		}
	}
	textarea,
	select {
		@include input();
		option {
			@apply text-neutral-500 dark:text-neutral-400 focus:bg-primary;
		}
	}
}
