@tailwind base;
@tailwind components;
@tailwind utilities;

$primary-color: theme('colors.primary');

.video-player-wrapper {
	position: relative;
	user-select: none;

	& > div,
	iframe {
		max-width: 100%;
		height: auto;
		aspect-ratio: 16/9;
	}
	.player-controls {
		position: absolute;
		bottom: 0;
		height: 0;
		width: 100%;
		opacity: 0;
		background-color: rgb(0 0 0 / 50%);
		background: linear-gradient(0deg, rgba(0, 0, 0, 0.8) 0%, transparent 60%);
		transition: all 200ms ease-in-out;
		transition-property: height, opacity;

		.progress-bar-wrapper {
			width: calc(100% - 20px);
			height: 5px;
			background-color: rgba(255, 255, 255, 0.5);
			position: absolute;
			bottom: 40px;
			cursor: pointer;
			opacity: 0;
			transition: all 200ms ease-in-out;
			transition-property: height, opacity;
			left: 50%;
			transform: translateX(-50%);

			&:hover {
				height: 7px;
			}

			.progress,
			.circle {
				position: absolute;
				background-color: $primary-color;
			}

			.progress {
				bottom: 0;
				left: 0;
				height: 100%;
			}

			.circle {
				bottom: 50%;
				transform: translate(-50%, 50%);
				height: 0;
				width: 0;
				border-radius: 50%;
				transition: all 150ms ease-in-out;
				transition-property: height, width;

				&.active {
					height: 15px;
					width: 15px;
				}
			}

			.time-hover-text {
				position: absolute;
				bottom: 10px;
				left: 50%;
				transform: translateX(-50%);
				text-shadow: 0 0 3px rgba(0, 0, 0, 0.95);
				background-color: rgba(0, 0, 0, 0.95);
				padding: 0 5px;
			}
		}

		.controls {
			display: flex;
			justify-content: space-between;
			align-items: center;
			position: absolute;
			bottom: 0;
			width: calc(100% - 20px);
			left: 50%;
			transform: translateX(-50%);

			.left {
				display: flex;
				align-items: center;
				gap: 5px;

				button {
					display: inline-flex;
					align-items: center;
				}
			}
		}
	}

	&:hover {
		.progress-bar-wrapper {
			opacity: 1;
		}

		.player-controls {
			height: calc(100% - 60.168px);
			background: linear-gradient(0deg, rgba(0, 0, 0, 0.8) 0%, transparent 30%);
			opacity: 1;
		}
	}
}
